<footer class="footer">
	<div class="footer_container">
		<div class="footer_content">
			{%- for block in section.blocks -%}

				{%- case block.type -%}

				{%- when 'company' -%}
			<div class="footer_info">
				<h1 class="footer_title">{{ block.settings.header}}</h1>
				<p class="footer_info_text">{{ block.settings.text}}</p>
			</div>
			{%- when 'info' -%}
			<div class="footer__blocks">
				<div class="footer__block">
					<h1 class="footer_title">{{ block.settings.header}}</h1>
                    {% if block.settings.link != blank %}
					    <a href="#" class="footer__block_text">{{ block.settings.link}}</a>
                    {% endif %}
                    {% if block.settings.link_1 != blank %}
					    <a href="#" class="footer__block_text">{{ block.settings.link_1}}</a>
                    {% endif %}
                    {% if block.settings.link_2 != blank %}
                        <a href="#" class="footer__block_text">{{ block.settings.link_2}}</a>
                    {% endif %}
                    {% if block.settings.link_3 != blank %}
                        <a href="#" class="footer__block_text">{{ block.settings.link_3}}</a>
                    {% endif %}
                    {% if block.settings.link_4 != blank %}
                        <a href="#" class="footer__block_text">{{ block.settings.link_4}}</a>
                    {% endif %}
                    {% if block.settings.link_5 != blank %}
                        <a href="#" class="footer__block_text">{{ block.settings.link_5}}</a>
                    {% endif %}
                    {% if block.settings.link_6 != blank %}
                        <a href="#" class="footer__block_text">{{ block.settings.link_6}}</a>
                    {% endif %}
                    {% if block.settings.link_7 != blank %}
                        <a href="#" class="footer__block_text">{{ block.settings.link_7}}</a>
                    {% endif %}
                    {% if block.settings.link_8 != blank %}
                        <a href="#" class="footer__block_text">{{ block.settings.link_8}}</a>
                    {% endif %}
				</div>
				{%- when 'about' -%}
				<div class="footer__block footer__block_pd">
					<h1 class="footer_title">{{ block.settings.header}}</h1>
					{% if block.settings.link != blank %}
					    <a href="#" class="footer__block_text">{{ block.settings.link}}</a>
                    {% endif %}
                    {% if block.settings.link_1 != blank %}
					    <a href="#" class="footer__block_text">{{ block.settings.link_1}}</a>
                    {% endif %}
                    {% if block.settings.link_2 != blank %}
                        <a href="#" class="footer__block_text">{{ block.settings.link_2}}</a>
                    {% endif %}
                    {% if block.settings.link_3 != blank %}
                        <a href="#" class="footer__block_text">{{ block.settings.link_3}}</a>
                    {% endif %}
                    {% if block.settings.link_4 != blank %}
                        <a href="#" class="footer__block_text">{{ block.settings.link_4}}</a>
                    {% endif %}
				</div>
				{%- when 'newsletter' -%}
				<div class="footer__block">
					<h1 class="footer_title">{{ block.settings.header}}</h1>
					<form class="footer_form" action="/">
						<input class="footer_input" type="input" placeholder="E-mail">
						<input class="footer_button" type="button" value="Subscribe">
					</form>
					<div class="footer_auth">
						<a href="#" class="footer__block_text">Create account</a>
						<a href="#" class="footer__block_text">B2B Log-in</a>
					</div>
				</div>
			{%- endcase -%}
		{% endfor %}
			</div>
		</div>
        {%- for block in section.blocks -%}

            {%- case block.type -%}

                {%- when 'pay' -%}
		<div class="footer_bottom">
			<div class="divider"></div>
			<div class="pay">
                {% if block.settings.amex %}
				    <a href="#">{% render 'amex' %}</a>
                {% endif %}
                {% if block.settings.apple_pay %}
				    <a href="#">{% render 'apple_pay' %}</a>
                {% endif %}
                {% if block.settings.google_pay %}
				    <a href="#">{% render 'google_pay' %}</a>
                {% endif %}
                {% if block.settings.klarna %}
				    <a href="#">{% render 'klarna' %}</a>
                {% endif %}
                {% if block.settings.mastercard2 %}
				    <a href="#">{% render 'mastercard2' %}</a>
                {% endif %}
                {% if block.settings.mastercard %}
				    <a href="#">{% render 'mastercard' %}</a>
                {% endif %}
                {% if block.settings.paypal %}
				    <a href="#">{% render 'paypal' %}</a>
                {% endif %}
                {% if block.settings.opay %}
				    <a href="#">{% render 'opay' %}</a>
                {% endif %}
                {% if block.settings.visa %}
                    <a href="#">{% render 'visa' %}</a>
                {% endif %}
			</div>
            {%- when 'copyright' -%}
			<p class="copyright">{{ block.settings.copyright-header }}</p>
            {%- when 'social' -%}
			<div class="socials">
                {% if block.settings.facebook %}
				    <a href="#">{% render 'facebook' %}</a>
                {% endif %}
                {% if block.settings.twitter %}
				    <a href="#">{% render 'twitter' %}</a>
                {% endif %}
                {% if block.settings.pinterest %}
				    <a href="#">{% render 'pinterest' %}</a>
                {% endif %}
                {% if block.settings.insta %}
				    <a href="#">{% render 'insta' %}</a>
                {% endif %}
                {% if block.settings.shopify %}
				    <a href="#">{% render 'shopify' %}</a>
                {% endif %}
                {% if block.settings.youtube %}
				    <a href="#">{% render 'youtube' %}</a>
                {% endif %}
			</div>
		</div>
    {%- endcase -%}
{% endfor %}
	</div>
</footer>

{% schema %}
{
  "name": "footer",
  "settings": [],
  "blocks": [
        {
            "type": "company",
            "name": "company-history",
            "settings": [
                {
                    "type": "text",
                    "id": "header",
                    "default": "JOLLY DESIGNS Ltd.",
                    "label": "Header"
                },
                {
                    "type": "textarea",
                    "id": "text",
                    "default":"Jolly Designs GmbH stands for unique, magical and wonderful toys. Our products range from Quiet Books, cute accessories for toddlers to wall decor for the nursery.We offer high quality, innovative and responsible products for curious and imaginative little minds.",
                    "label": "Text"
                }
            ]
        },
        {
            "type": "info",
            "name": "info-company",
            "settings": [
                {
                    "type": "text",
                    "id": "header",
                    "default": "Information",
                    "label": "Header"
                },
                {
                    "type": "text",
                    "id": "link",
                    "default":"Terms of use",
                    "label": "Link"
                },
                {
                    "type": "text",
                    "id": "link_1",
                    "default":"Delivery",
                    "label": "Link"
                },
                {
                    "type": "text",
                    "id": "link_2",
                    "default":"Privacy and data protection",
                    "label": "Link"
                },
                {
                    "type": "text",
                    "id": "link_3",
                    "default":"Return",
                    "label": "Link"
                },
                {
                    "type": "text",
                    "id": "link_4",
                    "default":"Cancellation policy",
                    "label": "Link"
                },
                {
                    "type": "text",
                    "id": "link_5",
                    "default":"Imprint",
                    "label": "Link"
                },
                {
                    "type": "text",
                    "id": "link_6",
                    "default":"Payment methods",
                    "label": "Link"
                },
                {
                    "type": "text",
                    "id": "link_7",
                    "default":"General terms and conditions",
                    "label": "Link"
                },
                {
                    "type": "text",
                    "id": "link_8",
                    "default":"Refund Policy",
                    "label": "Link"
                }
            ]
        },
        {
            "type": "about",
            "name": "about-company",
            "settings": [
                {
                    "type": "text",
                    "id": "header",
                    "default": "About Us",
                    "label": "Header"
                },
                {
                    "type": "text",
                    "id": "link",
                    "default":"Our History",
                    "label": "Link"
                },
                {
                    "type": "text",
                    "id": "link_1",
                    "default":"About Us",
                    "label": "Link"
                },
                {
                    "type": "text",
                    "id": "link_2",
                    "default":"Manufacturing Process",
                    "label": "Link"
                },
                {
                    "type": "text",
                    "id": "link_3",
                    "default":"Trade Fairs",
                    "label": "Link"
                },
                {
                    "type": "text",
                    "id": "link_4",
                    "default":"Quiet Books Blog",
                    "label": "Link"
                }
            ]
        },
        {
            "type": "newsletter",
            "name": "newsletter-company",
            "settings": [
                {
                    "type": "text",
                    "id": "header",
                    "default": "Information",
                    "label": "Header"
                },
                {
                    "type": "text",
                    "id": "link",
                    "default":"Terms of use",
                    "label": "Link"
                }
            ]
        },
        {
            "type": "pay",
            "name": "pay-info",
            "settings": [
                {
                    "type": "checkbox",
                    "id": "amex",
                    "label": "Show amex",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "apple_pay",
                    "label": "Show apple pay",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "google_pay",
                    "label": "Show google pay",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "klarna",
                    "label": "Show klarna",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "mastercard",
                    "label": "Show mastercard",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "mastercard2",
                    "label": "Show mastercard",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "paypal",
                    "label": "Show paypal",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "opay",
                    "label": "Show opay",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "visa",
                    "label": "Show visa",
                    "default": true
                }
            ]
        },
        {
            "type": "copyright",
            "name": "copyright-company",
            "settings": [
                {
                    "type": "text",
                    "id": "copyright-header",
                    "default": "© 2022, Jolly Designs",
                    "label": "Header"
                }
            ]
        },
        {
            "type": "social",
            "name": "social-info",
            "settings": [
                {
                    "type": "checkbox",
                    "id": "facebook",
                    "label": "Show facebook",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "twitter",
                    "label": "Show twitter",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "pinterest",
                    "label": "Show pinterest",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "insta",
                    "label": "Show instagram",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "shopify",
                    "label": "Show shopify",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "youtube",
                    "label": "Show youtube",
                    "default": true
                }
            ]
        }
    ],
    "default": {
        "blocks": [
          {
            "type": "company"
          },
          {
            "type": "info"
          },
          {
            "type": "about"
          },
          {
            "type": "newsletter"
          },
          {
            "type": "pay"
          },
          {
            "type": "copyright"
          },
          {
            "type": "social"
          }
        ]
      }
}
{% endschema %}